doctype
head
	title Mi pirmera pagina en EDteam
	meta(name="viewport" content="")
	link(rel="stylesheet" href="css/styles.css")
body.main#front-page
	h1(data-title="first") Bienvenidos
	script(src="script/main.js")